@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This web application is designed to test access to a web service hosted on-premises.  The web app looks for a server named
    serviceHost.  IF the application find the server, it will return a list of people.</p>
